/*Universal Style*/
html{
    font-family: 'Cinzel Decorative', sans-serif;
    font-size: 16px;
    align-items: center;
}

li img.button{
    border-radius: 5px;
    background-color: #4A4A4A;
    color: #525252;
}

/*Header*/

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 77px;
    border-bottom: thick double #6E6571;
    background-color: #ffffff;
}

@media only screen and (max-width: 421px){
    header{
        height: 66px;
    }
}

#content{
    display: flex;
    /*align-items: center;*/
    padding: 0 16px;
    height: 80px;
}

/*Logo*/
header .logo{
    flex: 1;
    width: 50px;
    height: 80px;
    text-align: center;
    margin-left: -35%;
}

.logo-pic{
    width: auto;
    height: 50px;
    border-radius: 75px;

}

.logo h3{
    margin: 0;
}

/*Computer/ Laptop view*/
@media only screen and (max-width: 1224px){
    header .logo{
        margin-left: -25%;
    }
    
}

@media only screen and (max-width: 1080px){
    header .logo{
        margin-left: -15%;
    }
    
}

/*Tablet View*/
@media only screen and (max-width: 951px){
    header .logo{
        margin-left: -10%;
    }
    
}

@media only screen and (max-width: 831px){
    header .logo{
        margin-left: -3%;
    }
}

@media only screen and (max-width: 761px){
    header .logo{
        margin-left: 0;
    }
}

/*Smart phone View*/
@media only screen and (max-width: 421px){
    header .logo{
        width: 100px;
        height: auto;
    }

    .logo img{
        width: 40px;
        height: auto;
    }

    .logo h3{
        text-align: center;
        margin-left: 15px;
    }
}

/*Navigation Bar*/

header nav ul{
    display: flex;
}

nav li{
    padding-left: 2.5rem;
    list-style: none;

}

nav a{
    vertical-align: bottom;
    line-height: 1.6;
    font-size: .865rem;
    color: #6E6571;
}

@media only screen and (max-width: 951px){
    nav li{
        padding-left: 2rem;
    
    }
}

@media only screen and (max-width: 421px){
    header .mobile{
        margin-top: 1rem;
    }
}

/*Shopping Cart*/
nav ul .button{
    width: 25px;
    height: auto;
    padding: 0;
    display: inline-block;
    background-color: #696969;
    line-height: 1.6;
    color: #C9C9C9;
}

/*Follow Us on Insta*/
nav li:last-child{
    display: none;
}

header .icon{
 width: 1rem;
 padding-left: .75rem;   
}

@media only screen and (max-width: 746px){
    .desktop li .icon{
        display: none;
    }
    
}

@media only screen and (max-width: 710px){
    .desktop{
        display: none;
    }
}
/*Mobile Navigation Bar*/
header .mobile{
    display: none;
}

/*Laptop + view*/
@media only screen and (max-width: 1440px){
    nav li:last-child{
        display: block;
    }

    header .content{
        padding: 1rem 1rem;
    }

    nav.mobile{
        display: none;
    }
}

@media only screen and (max-width: 769){
    header .desktop{
        display: none;
    }

    header .mobile{
        display: block;
        width: 100%;
    }
    
    header .content{
     padding: .5rem 0;

    }

    header .mobile ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    header .mobile li{
        padding: 0;
    }
}

@media only screen and (max-width: 710px){
    header .logo img{
        margin-left: 20px;
    }

    header .mobile{
        display: block;
        width: 100%;
    }
    
    header .content{
     padding: 0;

    }

    header .mobile ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    header .mobile li{
        padding: 0;
    }
}

@media only screen and (max-width: 420px){    
    header .mobile ul{
        padding: 0;
        margin: 3px;
        font-size: .675rem;
    }

    .mobile .icon{
        margin-right: 2px;
    }

    header .mobile li{
        padding: 0;
    }

}

/*Main Content*/ 

/*Seasonal Header*/
.bk2school{
    width: 95%;
    height: auto;
    margin: 80px 25px 15px;
    position: relative;
}

.bk2school img{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 426px){
    .bk2school{
        width: 100%;
        height: auto;
        margin: 80px 0;
    }

    .bk2school img{
        width: 100%;
        height: auto;
    }
}

.bk2school h3{
    color: #ffffff;
    font-size: 2rem;
    position: absolute;
    margin-top: -375px; 
    margin-left: 55%;
    float: right;
    z-index: 2;
}

.bk2school .one{
    color: #ffffff;
    font-size: 1rem;
    position: absolute;
    font-weight: 300;
    margin-top: -275px;
    margin-left: 55%;
    float: right;
    z-index: 2;
}

.bk2school .two{
    color: #ffffff;
    position: absolute;
    font-weight: 300;
    margin-top: -225px;
    margin-left: 62%;
    float: right;
    z-index: 2;
}

/*Laptop + view*/
@media only screen and (max-width: 1250px){
    .bk2school h3{
        margin-top: -350px; 
    }
    
    .bk2school .one{
        margin-top: -275px;
    }
    
    .bk2school .two{
        margin-top: -200px;
    }
    
}

@media only screen and (max-width: 1130px){
    .bk2school h3{
        margin-top: -300px; 
        margin-left: 50%;
    }
    
    .bk2school .one{
        margin-top: -215px;
        margin-left: 50%;

    }
    
    .bk2school .two{
        margin-top: -160px;
        margin-left: 62%;

    }
    
}

@media only screen and (max-width: 1000px){
    .bk2school h3{
        font-size: 1.5rem;
        margin-top: -270px; 
        margin-left: 50%;
    }
    
    .bk2school .one{
        font-size: .785rem;
        font-weight: 400;
        margin-top: -205px;
        margin-left: 50%;

    }
    
    .bk2school .two{
        font-size: .785rem;
        font-weight: 400;
        margin-top: -160px;
        margin-left: 62%;

    }
    
}

/*Tablet View*/
@media only screen and (max-width: 850px){
    .bk2school h3{
        margin-top: -230px; 
        margin-left: 50%;
    }
    
    .bk2school .one{
        font-size: .785rem;
        font-weight: 400;
        margin-top: -170px;
        margin-left: 50%;

    }
    
    .bk2school .two{
        font-size: .785rem;
        font-weight: 400;
        margin-top: -140px;
        margin-left: 62%;

    }
    
}

@media only screen and (max-width: 768px){
    .bk2school h3{
        font-size: 1.25rem;
        margin-top: -200px; 
        margin-left: 50%;
    }
    
    .bk2school .one{
        font-size: .785rem;
        font-weight: 400;
        margin-top: -150px;
        margin-left: 45%;

    }
    
    .bk2school .two{
        font-size: .785rem;
        font-weight: 400;
        margin-top: -115px;
        margin-left: 62%;

    }    
}

@media only screen and (max-width: 700px){
    .bk2school h3{
        font-size: 1.25rem;
        margin-top: -200px; 
        margin-left: 50%;
    }
    
    .bk2school .one{
        font-size: .785rem;
        font-weight: 400;
        margin: -150px 25px 0 50%;
        text-align: center;
    }
    
    .bk2school .two{
        font-size: .785rem;
        font-weight: 400;
        margin-top: -90px;
        margin-left: 62%;

    }
}

@media only screen and (max-width: 620px){
    .bk2school h3{
        font-size: 1rem;
        margin-top: -160px; 
        margin-left: 50%;
    }
    
    .bk2school .one{
        font-size: .625rem;
        font-weight: 400;
        margin: -120px 25px 0 50%;
        text-align: center;
    }
    
    .bk2school .two{
        font-size: .625rem;
        font-weight: 400;
        margin-top: -80px;
        margin-left: 62%;

    }
}

/*Smart phone View*/
@media only screen and (max-width: 500px){
    .bk2school h3{
        font-size: .765rem;
        margin: -135px 30px 0 50%; 
        text-align: center;
    }
    
    .bk2school .one{
        font-size: .5rem;
        margin: -100px 30px 0 50%;
        text-align: center;
    }
    
    .bk2school .two{
        font-size: .5rem;
        margin-top: -60px;
        margin-left: 60%;

    }
}

@media only screen and (max-width: 400px){
    .bk2school h3{
        margin-top: -120px; 
        margin-left: 50%;
    }
    
    .bk2school .one{
        margin: -80px 25px 0 50%;
        text-align: center;
    }
    
    .bk2school .two{
        margin-top: -50px;
        margin-left: 60%;

    }
}

/*New Products*/
.new{
    display: flex;
    height: auto;
    width: 100%;
    text-align: center;
}

.new h1{
    text-align: center;
    margin-top: 8%;
    margin-left: 10px;
}

.new .selection{
    height: 350px;
    margin: 10px 40px;
    display: flex;
}

.new div img{
    height: 300px;
    width: fit-content;
    margin: 0 10px;
}

.new .selection .box h3.mobile{
    display: none;
}

/*Laptop View*/
@media only screen and (max-width: 1266px){
    .new h1{
        font-size: 1.25rem;
        margin-top: 8%;
        padding: 5px;
    }
    
    .new .selection{
        width: 100%;
    }
    
    .new div img{
        height: 80%;
        margin: 10px;
    }
}

@media only screen and (max-width: 1121px){
        .new h1{
        font-size: 1.25rem;
        margin-top: 8%;
        padding: 0;
    }
    
    .new .selection{
        width: 100%;
        margin: 0;
    }
    
    .new div img{
        height: 70%;
        margin-right: 10px;
    }
}

/*Tablet view and/or small Laptop*/
@media only screen and (max-width: 951px){
    .new h1{
        font-size: 1rem;
        margin-top: 8%;
        padding: 5px;
    }
    
    .new .selection{
        width: 95%;
    }
    
    .new div img{
        height: 60%;
        margin: 5px;
    }
}

/*Tablet View*/
@media only screen and (max-width: 800px){
    .new{
        display: flex;
        flex-direction: column;
    }

    .new h1{
        font-size: 3rem;
        margin-top: 8%;
        margin: 25px;
    }
    
    .new .selection{
        width: 100%;
        display: block;
    }
    
    .new div img{
        height: auto;
        width: 95%;
        margin: 5px;
    }

    .new .selection .box h3.mobile{
        font-size: 2.25rem;
        margin-top: 35px;
        display: block;
    }

    .new .selection .box h3.desktop{
        display: none;
    }

}

/*Smart phone view*/
@media only screen and (max-width: 501px){
    .new h1{
        font-size: 1.765rem;
        margin: 0 25px 25px;
    }
}

@media only screen and (max-width: 426px){
    .new .one{
        font-size: 1.25rem;
        margin-top: -70px;
        margin-bottom: 25px;
    }

    .new h1{
        font-size: 1.25rem;
        margin-bottom: 0;
    }
}

/*Footer*/
footer{
    width: 95%;
    height: 100px;
    border-top: thick double #6E6571;
    background-color: #ffffff;
    display: inline-block;
    margin: 0 25px;
}

.contact .bottom{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 10%;
}

.contact .right{
    margin-top: -50px;
    float: right;
}

.contact .left{
    width: 500px;
    margin-left: 5%;
}

.contact p{
    width: 350px;
}

/*Tablet view*/
@media only screen and (max-width: 801px){
    p{
        font-size: .765rem;
    }
    footer{
    width: 100%;
    height: 130px;
    margin-top: 2350px; /*In oreder to keep it on the bottom of the page*/
    }

    .contact{
    height: 100px;
    align-items: center;
}

.contact .bottom{
    height: 50px;
    width: auto;
    margin: 0 208px;
    display: block;
    text-align: center;
}
}

@media only screen and (max-width: 769px){
footer{
    width: 50%;
    margin: 2100px 200px 0 200px;/*In order to keep it on the bottom of the page*/
}

.contact{
    display: flex;
    flex-direction: column;
}
}

@media only screen and (max-width: 701px){
    footer{
        width: 95%;
        margin: 2100px 5px 0 5px;/*In order to keep it on the bottom of the page*/

    }
                     
}

@media only screen and (max-width: 601px){
    footer{
        width: 95%;
        margin: 1750px 5px 0 5px;/*In order to keep it on the bottom of the page*/

    }
}

/*Smart phone View*/
@media only screen and (max-width: 501px){
    footer{
        width: 95%;
        margin: 1300px 5px 0 5px;/*In order to keep it on the bottom of the page*/
    }
}

@media only screen and (max-width: 426px){
    footer{
        width: 95%;
        margin: 950px 5px 0 5px;/*In order to keep it on the bottom of the page*/

    }
                     
}

@media only screen and (max-width: 377px){
    footer{
        width: 95%;
        margin: 790px 5px 0 5px;/*In order to keep it on the bottom of the page*/

    }
                     
}

@media only screen and (max-width: 347px){
    footer{
        width: 95%;
        margin: 725px 5px 0 5px;/*In order to keep it on the bottom of the page*/

    }
                     
}
